.container {
  background-color: #ffffff;
  margin: 20px;
}

.list {
  width: 450px;
  height: 550px;
  padding-left: 0;
  background-color: rgb(254, 254, 254);
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

.listItem {
  list-style-type: none;  
}